body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    padding: 10px;
    color: white;
    position:relative;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

header {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}


.carousel {
    display: flex;
    width: 300%;
    height: 100%;
    animation: circularSlide 9s infinite linear;
}

.carousel img {
    width: 100vw;
    height: auto;
    flex-shrink: 0;
}

@keyframes circularSlide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100vw);
    }
    66% {
        transform: translateX(-200vw);
    }
    100% {
        transform: translateX(0);
    }
}  




.open-btn {
    position:absolute;
    left:10px;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: gainsboro;
    padding-top: 20px;
    transition: 0.5s ease;
    z-index: 9;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    background-color: gray;
}

#sidebarToggle:checked ~ .sidebar {
    left: 0;
}

.masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Makes it responsive */
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    transition: transform 0.3s ease;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .masonry-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

.pagination {
    text-align: center;
    margin: 20px;
}

.pagination a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    margin: 5px;
    border: 1px solid #ccc;
}

.pagination a:hover {
    background-color: #333;
    color: #fff;
}

[aria-disabled="true"] {
    background-color: #cccccc00;              
    pointer-events: none;    
    opacity: 0.5;            
}

.active {
    background-color: darkgray;
}


.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
}

.contact-form h2 {
    margin-bottom: 10px;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background-color: #555;
}
